<table>
  <thead>
  <th>Category</th>
  <th>Description</th>
  <th>Parent Category</th>
  <th>Actions</th>
  </thead>
  <thbody>
    <%= render @categories %>
  </thbody>
</table>
</br>
<%= link_to 'Add new Category', new_category_path %>

