<div class="d-flex" id="wrapper">
  <%= render "shared/sidebar_menu" %>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <%= render "shared/menu" %>
    <div class="container-fluid">
      <h1 class="mt-4">Categories</h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Parent Category</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <thbody>
          <%= render @categories %>
        </thbody>
      </table>
      <%= link_to 'Add new Category', new_category_path, class: "btn btn-success" %>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>