<div class="d-flex" id="wrapper">
  <%= render "shared/sidebar_menu" %>
  <div id="page-content-wrapper">
    <%= render "shared/menu" %>
    <div class="container-fluid">
      <h1 class="mt-4">New Category</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>